/* COLORS */
$light-gray: #f2f2f2;
$mid-gray: #e4e4e4;
$gray: #b0b0b5;
$dark-brown: #372922;
$dark-gray: #707070;
$brown: #9b6f4c;
$primary: $brown;
$secondary: $dark-gray;
$disabled: #acacb1;
/* SIZES */
$small-spacer: 8px;
$regular-spacer: $small-spacer*2; //16px;
$large-spacer: $small-spacer*3; //24px;
$xlarge-spacer: $small-spacer*4; //32px
/* FONTS */
$regular-font-weight: 400;
$bold-font-weight: 700;

// Media Query Ranges (according Material guidelines)
$xsmall-screen-up: 420px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$xlarge-screen-up: 1601px !default;

$xsmall-screen: 421px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$xlarge-screen: 1600px !default;

$xsmall-and-up: "only screen and (min-width : #{$xsmall-screen-up})" !default; // more than 360px
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default; // more than 600px
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default; // more than 992px
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default; // more than 1200px
$xxlarge-and-up: "only screen and (min-width : #{$xlarge-screen-up})" !default; // more than 1600px

$xsmall-and-down: "only screen and (max-width : #{$xsmall-screen})" !default; // 360px and less
$small-and-down: "only screen and (max-width : #{$small-screen})" !default; // 600px and less
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default; // 992px and less
$large-and-down: "only screen and (max-width : #{$large-screen})" !default; // 1200px and less
$xlarge-and-down: "only screen and (max-width : #{$xlarge-screen})" !default; // 1600px and less

$small-only: "only screen and (min-width : #{$xsmall-screen-up}) and (max-width : #{$small-screen})" !default; //361 to 600
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default; //601 to 992
$large-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})" !default; //993 to 1200
$xlarge-only: "only screen and (min-width : #{$large-screen-up}) and (max-width : #{$xlarge-screen})" !default; //1201 to 1600
