.list-item {
  cursor: pointer;
}

.content-column {
  @extend .flex-column;
  padding: $regular-spacer;
  font-weight: $regular-font-weight;
  .mat-h4, .mat-h5 {
    margin: 0 0 $small-spacer;
  }
}
