#product-dialog {
  width: 100%;
  max-width: $large-spacer*20;
  padding: 0;
  margin: 0;
  background: transparent;
  box-shadow: none;
  overflow: initial;
  pointer-events: auto;


  @include respond-to(tablets-landscape) {
    max-width: $large-spacer*16;
    @include respond-to(old-phones) {
      max-width: 100%;
    }
  }
  .product-card {
    padding-bottom: $large-spacer;
    margin: $xlarge-spacer;
    @include respond-to(phones) {
      margin: $small-spacer 0;
      max-width: 100%;
    }
    .heading-block, .subheading-block {
      margin: 0 (-$regular-spacer) $regular-spacer (-$regular-spacer);
    }
    .heading-block {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: $small-spacer $regular-spacer;
      background: $light-gray;
      & + .subheading-block {
        margin-top: (-$regular-spacer);
      }
      .option {
        text-transform: uppercase;
        font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
      }
      .reset-btn {
        padding: 0 $small-spacer;
        margin-right: (-$small-spacer);
        min-width: auto;
      }
    }
    .subheading-block {
      padding: $regular-spacer;
      background: $mid-gray;
      .info {
        margin: 0;
      }
    }
  }

  .back-btn {
    position: absolute;
    top: $small-spacer;
    left: $small-spacer;
    color: $gray;
    background: $white;
  }

  .action-btn {
    background-color: $primary;
    width: $large-spacer;
    height: $large-spacer;
    line-height: $large-spacer;
    margin: $small-spacer*0.5;
    &[disabled] {
      background-color: $disabled;
    }
    .mat-icon {
      width: $large-spacer;
      height: auto;
      line-height: $large-spacer - 1px;
      color: $light-primary-text;
      font-size: $regular-spacer;
    }
  }

  .item-count {
    margin: 0 $regular-spacer;
  }

  .card-header {
    padding: $small-spacer;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .add-to-cart-btn {
    width: 100%;
    padding: 0 $small-spacer;
    background: $dark-brown;
    .mat-button-wrapper {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      color: $white;
      .mat-icon, span {
        min-width: 50px;
      }
    }
  }

  .price-tag {
    color: $gray;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $regular-spacer;
    .radio-button {
      margin: 5px 0;
      .mat-radio-label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .mat-radio-label-content {
          padding-left: 0;
        }
      }
    }
    .mat-checkbox-layout {
      width: 100%;
      .mat-checkbox-label {
        flex-grow: 2;
      }
    }
  }
}
