.list-item {
  cursor: pointer;
}
.content-column {
  display: flex;
  flex-direction: column;
  padding: $regular-spacer;
  font-weight: 400;
  .mat-h4, .mat-h5 {
    margin: 0 0 $small-spacer;
  }
}
